<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarkTexEdt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <MarkTexEdt.Properties.Settings>
            <setting name="ConverterType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SynchroScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Gfm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tables" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Todo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Breaks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MarkTex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmartList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmartQuote" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Align" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pedantic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sanitize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmartyPants" serializeAs="String">
                <value>False</value>
            </setting>
        </MarkTexEdt.Properties.Settings>
    </userSettings>
</configuration>
