*.suo
*.log

/MarkTexEdt/MarkTexEdt/*.user

/MarkTexEdt/MarkTexEdt/obj/Debug/*.lref

/MarkTexEdt/MarkTexEdt/bin/Debug/*.pdb

/MarkTexEdt/MarkTexEdt/obj
/MarkTexEdt/MarkTexEdt/bin/Debug/marktex.pdb
/MarkTexEdt/MarkTexEdt/bin/Debug/marktex.vshost.exe
/MarkTexEdt/MarkTexEdt/bin/Debug/marktex.vshost.exe.config
/MarkTexEdt/MarkTexEdt/bin/Debug/marktex.exe
/*.ppk